@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Jim+Nightshade&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --cor-primaria: #222;
    --cor-secundaria: #ccc; 
    --cor-terciaria: #0df;
    --cor-quaternaria: #010;

    --font-principal: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;

   --font-size-normal: 1.5rem;
   --font-size-title: 2.25rem;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-size: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 36px;
}

.menu_links {
    display: none;
}

.menu_links a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

.menu_links a:hover {
    color: var(--cor-terciaria);
}

.presentation {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.presentation h1 {
    font-family: 'Jim Nightshade';
    font-size: .75em;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    padding-left: 36px;
    padding-right: 36px; 
}

.presentation h1 > span {
    color: var(--cor-terciaria);
}

.presentation_perfil {
    display: flex;
    gap: 10px;
}

.presentation_perfil img {
    width: 132px;
    height: 132px;
    background-color: var(--cor-quaternaria);
    box-shadow: 2px 1px var(--cor-terciaria);
    border-radius: 60%;
    margin-left: 36px;
}

.presentation_perfil p {
    font-family: 'Jersey 25';
    font-style: normal;
    font-weight: 400;
    font-size: .4375em;
    line-height: 18px;
    color: var(--cor-secundaria);
}


.icones_section {
    display: flex;
    justify-content: space-between;
    padding: 82px;
    padding-top: 48px;
}

.icones_section img {
    width: 48px;
    height: 48px;
}

.icones_section a:nth-child(2) {
    margin-top: 48px;
}

footer {
    height: 48px;
    bottom: 0;
    font-family: 'Jersey 25';
    font-size: .4375em;
    text-align: center;
}

@media (min-width: 820px) {
    main {
        margin: 0 auto;
        width: 100%;
    }

    .presentation h1 {
        text-align: center;
        font-size: 1em;
        line-height: 48px;
        max-width: 500px;
        margin: 0 auto;
    }

    .presentation_perfil {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .presentation_perfil img {
        width: 50%;
        height: 50%;
        max-width: 300px;
        max-height: 300px;
    }

    .presentation_perfil p {
        width: 50%;
        max-width: 30%;
        font-size: .75em;
    }

    .icones_section {
        justify-content: space-between;
        margin: 0 auto;
        margin-top: -40px;
        width: 50%;
        max-width: 30%;
    }

    .header > a, #menu {
        display: none;
    }

    .menu__header {
        margin: 0 auto;
        width: 50%;
    }

    .menu_links {
        display: flex;
        justify-content: space-between;
    }

    .menu_links a {
        color: var(--cor-terciaria);
        font-family: 'Jersey 25';
        font-size: .75em;
    }
   
    .menu_links > a:nth-child(1) {
        display: block;
    }

    .menu_links a:hover {
        color: var(--cor-secundaria);
    }
    
}


@media (max-width: 820px) {
    
    .menu__header:hover > .menu_links {
        background-color: rgba(0, 14, 0, .95);
        border: 1px solid var(--cor-terciaria);
        border-radius: 20px 0 20px 20px;
        display: flex;
        flex-direction: column;
        font-family: 'Jim Nightshade';
        font-size: .5em;
        font-style: normal;
        font-weight: 400;
        gap: 10px;
        right: 48px;
        padding: 10px;
        position: absolute;
        width: max-content;
    }
    
    .header > a, #menu {
        display: flex;
    }
}


