@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6; 
    --cor-terciaria: #22d4fd;
    --cor-quaternaria: #010;

    --font-principal: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header {
    padding: 2% 0 0 10%;
}

.menu__header {
    display: flex;
    gap: 80px;
}

.links__nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.presentation {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-top: 5%;
    font-size: 36px;
    font-family: var(--font-principal);
    text-align: center;
}

.presentation p {
    font-size: 24px;
    font-family: var(--font-secundaria);
}

.presentation img {
    position: fixed;
    right: 10%;
    top: 20%;
    background-color: var(--cor-quaternaria);
    width: 400px;
    border-radius: 0 80% 5% 70%;
    box-shadow: -2px -2px var(--cor-terciaria);
}

.presentation__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__links h2 {
    font-family: "Korona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.presentation__links a {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.presentation__links a:hover {
    background-color: var(--cor-quaternaria);
    border-color: var(--cor-terciaria);
    cursor: pointer;
}

.presentation__links img {
    position: inherit;
    width: 32px;
}

.enphasis-1 {
    color: var(--cor-terciaria);
}

footer {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 30px;
    list-style: none;
}